# Node.js
# These are generated directories and files that should be ignored.
node_modules/
dist/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS and Editor-specific
.DS_Store
*.orig
.vscode/
.idea/

# Backend-specific
server/node_modules/
server/.env
server/dist/

# Frontend-specific
client/node_modules/
client/dist/